<h1><%= @post.title %></h1>
<p>----------------------------------------------------------------------------------------------------<p>
<h2><%= @post.body %></h2>

<p>----------------------------------------------------------------------------------------------------<p>
<% @post.comments.all.each do |comment| %>
	<li><h3><%= comment.writer %></h3>
			<h4><%= comment.body %></h4>
			<%= link_to 'Delete', comment_path(@post, comment), method: :delete %>
			<p>--------------------------------------------------------------------<p></li>
<% end %>

<h5>Want to add a new comment ?</h5>
<%= form_tag("/posts/#{@post.id}/comments", :method => "post") do %>
<%= label(:comment, :writer, "Writer :") %>
<%= text_field(:comment, :writer) %>
<br/>
<%= label(:comment, :body, "Body :") %>
<br/>
<%= text_area(:comment, :body) %>
<br/>
<%= submit_tag("Add a comment") %>
<% end %>

<br/>
<%= link_to 'Index', posts_path %>
