<h1>Edit post</h1>

	<%= form_tag("/posts/#{@post.id}", :method => "put") do %>
	<%= label(:post, :title, "Title :") %>
	<%= text_field(:post, :title) %>
	<%= label(:post, :body, "Body :") %>
	<%= text_area(:post, :body) %>
	<%= submit_tag("Update") %>

<% end %>
