<h1>New post</h1>

	<%= form_tag("/posts", :method => "post") do %>
	<%= label(:post,:title, "Title :") %>
	<%= text_field(:post, :title) %>
	<%= label(:post,:body, "Body :") %>
	<%= text_area(:post, :body) %>
	<%= submit_tag("Create") %>

<% end %>
